<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
</head>
<body>
    <div class="quiz-section-title">
        <li><strong>1.</strong>Thuật toán chọn đoạn trống để thỏa mãn nhu cầu cho một tiến trình (trong phân đoạn vùng nhớ): </li>
    </div>
    <div class="quiz-section-content">
        <ul>
            <li class="list-item"> 
                <label class="overlabel">
                    <input type="radio" class="hide" name="option-1" data-status="0" data-point="0">
                    <span class="mark"></span>
                </label>
                <div class="box-check">
                    <div class="answer-desc text-view"></div>
                    <p>First-fit</p>
                </div>
            </li>
            <li class="list-item">
                <label class="overlabel">
                    <input type="radio" class="hide" name="option-1" data-status="0" data-point="0">
                    <span class="mark"></span>
                </label> 
                <div class="box-check">
                    <div class="answer-desc text-view"></div>
                    <p>Worst-fit</p>
            </li>
            <li class="list-item">
                <label class="overlabel">
                    <input type="radio" class="hide" name="option-1" data-status="0" data-point="0">
                    <span class="mark"></span>
                </label>
                <div class="box-check">
                    <div class="answer-desc text-view"></div>
                    <p>Best-fit</p>
            </li>
            <li class="list-item">
                <label class="overlabel">
                    <input type="radio" class="hide" name="option-1" data-status="0" data-point="0">
                    <span class="mark"></span>
                </label>
                <div class="box-check">
                    <div class="answer-desc text-view"></div>
                    <p>Không câu nào đúng</p>
            </li>
        </ul>
    </div>
</body>
</html>